/* colors */

* {
  al:      #00000000;
  bg:      #0f0f17ff;
  bg2:     #181824ff; 
  se:      #44475aff;
  fg:      #b2bbcccc;
  ac:      #1c1c29ff;
  red:     #d78787ff;
  green:   #afbea2ff;
  yellow:  #e4c9afff;
  blue:    #9db8c8ff;
  purple:  #c98bbfff;
  cyan:    #9db8c8ff;
}
