// eww.scss
// author : saimoomedits

*{
	all: unset;
	font-family: feather;
	font-family: JetBrainsMono NF;
}


/** tooltip!! **/
tooltip.background {
    background-color: #0f0f17;
    font-size: 18;
    border-radius: 10px;
    color: #bfc9db;
}

tooltip label {
    margin: 6px;
}

/** time **/
.hour_class {
    color: #0f0f17;
    font-size: 62px;
    font-weight: bold;
    margin: 15px 0px 0px 10px;
}

.minute_class {
    color: #0f0f17;
    font-size: 62px;
    margin: 15px 10px 0px 20px;
}

.mer_class {
    color: #767c87;
    font-size: 26px;
    margin: 20px 0px 0px 0px;
}


.day_class {
    color: #767c88;
    font-size: 30px;
    margin: 0px 0px 10px 10px;
}

.month_class {
    color: #767c88;
    font-size: 30px;
    margin: 0px 10px 10px 10px;
}

.year_class {
    color: #767c88;
    font-size: 30px;
    margin: 0px 20px 10px 10px;
}


.time_sep_class {
    color: #bec8da;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
}

.day_class_n {
    color: #767c88;
    font-size: 18px;
    margin: 0px 0px 5px 10px;
}

.month_class_n {
    color: #767c88;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}





.sep {
    background-image: url("images/sketched-line.png");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.profile_picture {
	background-image: url('images/profile.png');
	background-size: 170px;
        border: 2px solid #0f0f17;
	background-position: 50% 35%;
	min-height: 170px;
	min-width: 170px;
	margin: 0px 0px 0px 0px;
	border-radius: 20px;
}

.bg {
    background-color: #dbdbdb;
    border: 4px solid #0f0f17;
    border-radius: 15px;
}




.cc_cc {
    font-size: 28;
    margin: 32px;
}

.sys_icon_bat, .sys_icon_mem, {
    font-size: 30;
    margin: 10px 0px 10px 20px;
}
.sys_win {
    background-color: #ecf1f5;
    border: 2px solid #0f0f17;
    border-radius: 18px;
}
.sys_icon_bat {
    color: #a3be8c;
}
.sys_icon_cpu {
    font-size: 30;
    margin: 10px 0px 10px 20px;
    color: #c75050;
}
.sys_icon_mem {
    color: #c7b250;
}

.cpu_bar  scale trough highlight {
	all: unset;
    background-color: #c75050;
    border: 2px solid #0f0f17;
	border-radius: 24px;
}
.cpu_bar scale trough {
	all: unset;
        border: 2px solid #0f0f17;
	border-radius: 24px;
	min-height: 110px;
	min-width: 14px;
	margin : 10px 0px 0px 20px;
}
.mem_bar  scale trough highlight {
	all: unset;
    background-color: #c7b250;
    border: 2px solid #0f0f17;
	border-radius: 24px;
}
.bat_bar  scale trough highlight {
	all: unset;
    background-color: #a3be8c;
    border: 2px solid #0f0f17;
	border-radius: 24px;
}
.mem_bar scale trough {
	all: unset;
        border: 2px solid #0f0f17;
	border-radius: 24px;
	min-height: 110px;
	min-width: 14px;
	margin : 10px 0px 0px 20px;
}
.bat_bar scale trough {
	all: unset;
        border: 2px solid #0f0f17;
	border-radius: 24px;
	min-height: 110px;
	min-width: 14px;
	margin : 10px 0px 0px 20px;
}


.volume_bar scale trough highlight {
	all: unset;
    background-color: #bfc9db;
    border: 2px solid #0f0f17;
	border-radius: 24px;
}
.mic_bar scale trough highlight {
	all: unset;
    background-color: #bfc9db;
    border: 2px solid #0f0f17;
	border-radius: 24px;
}
scale trough {
	all: unset;
        border: 2px solid #0f0f17;
	border-radius: 24px;
	min-height: 130px;
	min-width: 14px;
	margin : 10px 0px 0px 0px;
}

.vol_icon, .brg_icon, .mic_icon {
    font-size: 26;
}
.vol_icon {
    color: #0f0f17;
}
.mic_icon {
    color: #0f0f17;
}
.brg_icon {
    color: #e4c9af;
}

.msc_bg {
	background-size: cover;	
	background-position: center;
    background-image: url("images/minimal.jpg");
	min-height: 140px;
	min-width: 140px;
	margin: 0px;
	border-radius: 16px;
}

.song {
    font-size: 24px;
	font-weight : bold;
    color: #0f0f17;
	margin : 10px 0px 0px 15px;
}
.song_artist {
    font-size: 18px;
	font-weight : bold;
    color: #0f0f17;
	margin : 0px 0px 0px 15px;
}


.song_btn_prev, .song_btn_next, .song_btn_loop {
    font-size: 30px;
    font-weight: normal;
    color: #0f0f17;
	margin : 4px 20px 0px 20px;
}
.song_btn_play {
    font-weight: normal;
    font-size: 34px;
    color: #0f0f17;
	margin : 4px 20px 0px 20px;
}

.msc_ctl_bg {
    background-color: #ecf1f5;
    border: 2px solid #0f0f17;
	border-radius: 10px;
}


.song_prog scale trough highlight {
	all: unset;
    background-color: #bfc9db;
    border: 2px solid #0f0f17;
	border-radius: 8px;
}
.song_prog scale trough {
	all: unset;
	border-radius: 8px;
    border: 2px solid #0f0f17;
	min-height: 10px;
	min-width: 215px;
	margin : 10px;
}
.music_prog_bg {
    background-color: #ecf1f5;
    border: 2px solid #0f0f17;
    border-radius: 10px;
}


.sus_tray {
    background-color: #ecf1f5;
    border: 2px solid #0f0f17;
    border-radius: 8px;
}
.wifi_but {
    border-radius: 18px 10px 18px 10px;
    border: 2px solid #0f0f17;
    padding: 15px;
    font-size: 29px;
    margin: 15px;
}

.notif_but {
    border-radius: 18px 10px 18px 10px;
    border: 2px solid #0f0f17;
    padding: 15px;
    font-size: 29px;
    margin: 15px;
}


.vol_but {
    border-radius: 18px 10px 18px 10px;
    border: 2px solid #0f0f17;
    padding: 15px;
    font-size: 29px;
    margin: 15px;
}

.log_but {
    border-radius: 18px 10px 18px 10px;
    border: 2px solid #0f0f17;
    padding: 15px;
    font-size: 29px;
    background-color: transparent;
    color: #0f0f17;
    margin: 15px;
}

.bright_box {
    border-radius: 10px;
    background-color: #14141c;
}

.bright scale trough highlight {
	all: unset;
    background-color: #a3be8c;
    border: 1px solid #0f0f17;
	border-radius: 8px 20px 2px 8px;
}
.bright scale trough {
	all: unset;
	background-color: transparent;
        border: 2px solid #0f0f17;
	border-radius: 8px;
	min-height: 10px;
	min-width: 450px;
	margin : 15px;
}
.br_icon {
    font-size: 38;
    color: #0f0f17;
    margin: 0px 0px 0px 20px;
}

.sep_sys {
  background-color: #bfc9db;
  font-size: 6px;
  margin: 12px -5px 12px 15px;
  border-radius: 12px;
}

.fetch_sys_1 {
    font-size: 22;
    font-weight: bold;
    color: #0f0f17;
    margin: 6px 0px 0px 20px;
}
.fetch_sys_2 {
    font-size: 16;
    color: #5980c0;
    margin: 0px 0px 0px 20px;
}

.dir_bg {
  background-color: #ecf1f5;
  border: 2px solid #0f0f17;
  border-radius: 12px;
}

.dir_btn {
    font-size: 16;
    font-weight: bold;
    color: #0f0f17;
    margin: 10px 0px 0px 20px;
}
