/** EWW.SCSS
Created by saimoom **/
*{
	all: unset;
	font-family: feather;
	font-family: JetBrainsMono NF;
}

/** General **/
.bar_class {
    background-color: #ecf1f5;
    border-radius: 12px;
    border: 3px solid #0f0f17;
}
.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 16px 0px 10px;
}

/** tooltip!! **/
tooltip.background {
    background-color: #ecf1f5;
    font-size: 18;
    border-radius: 10px;
    border: 2px solid #0f0f17;
    color: #0f0f17;
}

tooltip label {
    margin: 6px;
}


/** Widgets **/

.clock_time_sep {
    font-size: 16;
    color: #3d3d4a;
    margin: 0px 4px 1px 4px;
}
.clock_time_class, .clock_minute_class {
    font-size: 23;
}
.clock_date_class {
    font-size: 18;
    margin: 0px 20px 0px -1px;
    color: #d7beda;
}
.clock_minute_class {
    margin: 0px 20px 0px 3px;
    color: #0f0f17;
}

.clock_time_class {
    color: #0f0f17;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}


.brightbar trough highlight {
  background-color: #c7b250;
  border-radius: 10px;
  border: 2px solid #0f0f17;
}
.volbar trough highlight {
  background-color: #a1bdce;
  border: 2px solid #0f0f17;
  border-radius: 10px;
}

.module_essid {
    font-size: 18;
    color: #0f0f17;
  margin: 0px 10px 0px 0px;
}
.module-wif {
    font-size: 22;
    color: #0f0f17;
    border-radius: 100%;
  margin: 0px 10px 0px 5px;
}

.separ {
    color: #3e424f;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 8px 0px 8px;
  }

scale trough {
  all: unset;
  border-radius: 16px;
  border: 2px solid #0f0f17;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}


.song_cover_art {
	background-size: cover;	
	background-position: center;
	min-height: 18px;
	min-width: 19px;
	margin: 10px;
	border-radius: 0px;
}

.song {
	color: #0f0f17;
	font-size : 18px;
	font-weight : bold;
	margin : 3px 5px 0px 0px;
}

.song_btn_play {
	color: #a1bdce;
	font-size : 28px;
	margin : 3px 0px 0px 5px;

}


.song_btn_prev, .song_btn_next {
	color: #bfc9db;
	font-size : 24px;
	margin : 3px 0px 0px 5px;

}
// Calendar
.cal {
  background-color: #ecf1f5;
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  font-weight: normal;

.cal-in {
    padding: 0px 10px 0px 10px;
  border: 2px solid #0f0f17;
  border-radius: 12px;
    color: #30303d;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: #0f0f17;
}
calendar:selected {
  color: #a1bdce;
}

calendar.header {
  border: 2px solid #0f0f17;
color: #0f0f17;
background-color: #50a9c7;
border-radius: 20px;
font-weight: bold;
}

calendar.button {
color: #0f0f17;
font-size: 20px;
background-color: transparent;
}

calendar.highlight {
color: #30303d;
font-weight: bold;
}

calendar:indeterminate {
color: #0f0f17;
}


