* {
    all: unset;
    font-family: JetBrainsMono Nerd Font;
}


.works {
    background-color: transparent;
}

.detect {
    background-color: transparent;

}

.dock {
    background-color: transparent;
}

.ws1, .ws2, .ws3, .ws4, .ws5, .ws6, {
    font-size: 30;
    padding: 20px;
    background-color: #13141c;
    border-radius: 14px;
    margin: 20px;
}

.wsc1 trough highlight {
    background-color: #d78787;
    border-radius: 22px;
}
scale trough {
    color: transparent;
    border-radius: 22px;
    min-height: 6px;
    min-width: 20px;
   margin: -7px  20px 7px 20px; 
}


.ws_s {
    font-size: 28;
    margin: 20px 10px 20px 10px;
   //  box-shadow: 1 0px 5px 2px #000000;
    padding: 22px;
    border-radius: 20px 10px 20px 10px;
    background-color: transparent;

}


